html {
  height: 100vh;
  width: 100vw;

  /* Start - Wallpaper Sizing & Position */
  background-image: url("wallpaper.jpg"),
    linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(250, 4, 239, 1) 30%, rgba(255, 0, 239, 1) 68%, rgba(0, 212, 255, 1) 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: contain;
  /* End - Wallpaper Sizing & Position */
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
}

.box {
  width: 80%;
  height: 80%;
  position: absolute;
  margin-left: 5%;
  margin-top: 2%;
  padding: 50px;
}