html {
  height: 100vh;
  width: 100vw;

  /* Start - Wallpaper Sizing & Position */
  background-image: url("/public/wallpaper.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: contain;
  /* End - Wallpaper Sizing & Position */

  
}